# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/**/node_modules
/.pnp
.pnp.js

# testing
/coverage
/**/coverage

# next.js (frontend)
/.next/
/out/
/**/.next/
/**/out/

# nest.js (backend)
/dist
/**/dist
/backend/dist

# environment
.env
.env.*
!.env.example
/**/.env
/**/.env.*
!/**/.env.example

# misc
.DS_Store
*.pem
.env*.local
.env.development
.env.test
.env.production

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/**/npm-debug.log*
/**/yarn-debug.log*
/**/yarn-error.log*

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
/**/tsconfig.tsbuildinfo

# PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map

# storybook
/storybook-static
/**/storybook-static

# cache
.eslintcache
.stylelintcache
/**/.eslintcache
/**/.stylelintcache

# logs
logs
*.log
/**/logs

# package managers
yarn.lock
package-lock.json
.npmrc
/**/yarn.lock
/**/package-lock.json
/**/.npmrc

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache
